<div class="span12">

  <%= simple_form_for [@topic, @comment] do |f| %>
    <%= f.text_area :content %>

    <div class="form-actions">
      <%= f.submit "Submit", :disable_with => 'Submiting...', :class => "btn btn-primary" %>
    </div>
  <% end %>



</div>