<div class="topicContainer">
  <%= link_to 'New Topic', new_topic_path, :class=> "btn btn-default" %>

  <div id="timelineDiv"></div>

</div>


<script type="text/json" id="jsonScript">
  <%= @topics_json.html_safe %>
</script>


<script type="text/javascript">
  var topicsJson = $('#jsonScript').html();
  var realDataJson = $.parseJSON(topicsJson);
  console.log(realDataJson);

  $('#timelineDiv').verticalTimeline({
    data: realDataJson,
    dateParse: 'MM/DD/YYYY',
    handleResize: true
  });


</script>
