<footer class="footer">
  <small>
    <a href="#">Slap</a>
    by Bustta Tsai
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>