<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "Slap", topics_path %> by Bustta Tsai</li>
    </ul>
  </nav>
</footer>